.idea/
minions.iml
minions-core/target/
minions-core/minions-core.iml
minions-core/dependency-reduced-pom.xml

minions-api/target/
minions-api/minions-api.iml

minions-contrib/chatterbot-minion/target/
minions-contrib/chatterbot-minion/chatterbot-minion.iml

minions-contrib/echo-minion/target/
minions-contrib/echo-minion/echo-minion.iml

minions-contrib/httpstatus-minion/target/
minions-contrib/httpstatus-minion/httpstatus-minion.iml

minions-contrib/osproperties-minion/target/
minions-contrib/osproperties-minion/osproperties-minion.iml

minions-contrib/binary-minion/target/
minions-contrib/binary-minion/binary-minion.iml
