.DS_Store
.idea/
*/.DS_Store
cirrus-minions.yml
whatsnotapp-minions.yml
local-minions.yml

minions.iml
minions-core/target/
minions-core/minions-core.iml
minions-core/dependency-reduced-pom.xml

minions-api/target/
minions-api/minions-api.iml

minions-contrib/chatterbot-minion/target/
minions-contrib/chatterbot-minion/chatterbot-minion.iml

minions-contrib/echo-minion/target/
minions-contrib/echo-minion/echo-minion.iml

minions-contrib/httpstatus-minion/target/
minions-contrib/httpstatus-minion/httpstatus-minion.iml

minions-contrib/osproperties-minion/target/
minions-contrib/osproperties-minion/osproperties-minion.iml

minions-contrib/binary-minion/target/
minions-contrib/binary-minion/binary-minion.iml

minions-contrib/calculator-minion/target/
minions-contrib/calculator-minion/calculator-minion.iml

minions-contrib/digest-minion/target/
minions-contrib/digest-minion/digest-minion.iml

minions-contrib/apples-minion/target/
minions-contrib/apples-minion/apples-minion.iml

minions-contrib/spellchecker-minion/target/
minions-contrib/spellchecker-minion/spellchecker-minion.iml

minions-contrib/chuck-minion/target/
minions-contrib/chuck-minion/chuck-minion.iml

minions-contrib/catfact-minion/target/
minions-contrib/catfact-minion/catfact-minion.iml

minions-contrib/ip-minion/target/
minions-contrib/ip-minion/ip-minion.iml
