.idea/
commandbot.iml
commandbot-core/target/
commandbot-core/commandbot-core.iml
commandbot-core/dependency-reduced-pom.xml

commandbot-api/target/
commandbot-api/commandbot-api.iml

commandbot-contrib/chatterbot-plugin/target/
commandbot-contrib/chatterbot-plugin/chatterbot-plugin.iml

commandbot-contrib/echo-plugin/target/
commandbot-contrib/echo-plugin/echo-plugin.iml

commandbot-contrib/httpstatus-plugin/target/
commandbot-contrib/httpstatus-plugin/httpstatus-plugin.iml

commandbot-contrib/osproperties-plugin/target/
commandbot-contrib/osproperties-plugin/osproperties-plugin.iml

